.title_Benchmark{
    height: 30px;
    margin:20px auto auto auto;
    padding: 15px auto;
    border-bottom: 1px solid gainsboro;
}
.title_Benchmark ul{
    list-style: none;
}
.title_Benchmark ul li{
    display: inline-block;
}
/* 메인 콘텐츠 위치조정 */
.board_main{
    font-size: 12px;
    margin: 45px 320px auto auto;
    width: 860px;
    background-color: white;
}
.category{
    border-top: 1px solid #999;
}
.category h6{
    margin: 30px auto auto 20px;
}
.category_list li{
    display: inline-block;
}
/* 게시물 제목 옵션 조정 */
#board_optin{
    margin: 15px auto auto 15px;
}
/* 리스트 카테고리 제목 위치조정 */
#board_title{
    line-height: 30px;
}
/* 게시물 리스트 기준 */
.title_title{
    margin-left: 200px;
}
.title_writer{
    margin-left:235px;
}
.title_comment{
    margin-left:75px;
}
.title_date{
    margin-left: 65px;
}
.title_heart{
    margin-left: 50px;
}
/* 운영자나 해당게시물회원이 아닐시 체크박스 */
#none_check{
    width:25px;
}
/* 게시글 밑줄 및 조정 */
.board_list{
    height: 50px;
    padding-top: 15px;
    border-bottom: 1px solid gainsboro;
    list-style: none;
    padding-left: 30px;
}
.board_list:hover{
    background-color: #d4d4d4;
}
.board_list li{
    display: inline-block;
}
/* 게시물 체크 위치조정 */
#board_check{
    margin-left: 15px;
}
/* 체크박스 */
.postcheckbox{
    text-align: center;
    display: inline-block;
    width:75px;
}
/* 게시물 제목 */
#board_write_title{
    text-align: left;
    padding-left: 50px;
    display: inline-block;
    width:320px;
    font-size: 12px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
/* 게시물 작성자 */
#board_write_name{
    text-align: center;
    display: inline-block;
    width:180px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
/* 게시물 댓글수 */
#board_comment{
    display: inline-block;
    text-align: center;
    width: 25px;
}
#board_date{
    width:170px;
    display: inline-block;
    text-align: center;
}
/* 게시글좋아요수 */
#board_heart{
    margin: auto auto auto -2px;
    display: inline-block;
    text-align: center;
}
#footer_button{
  float: right;
  width:880px;
}
/* 페이지 네이션 위치조정 */
#pagenation{
    text-align: center;
    width: 310px;
}
#footer_option{
    width:865px;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    margin: 0 auto;
}
/* 하단 옵션 인라인 */
#footer_option li{
    display: inline-block;
}
/* 페이지네이션 색상 */
.page-link{
    color: black;
}
/* 공지칸 한줄 만들기 */
#main_status_move_b li{
    display: inline-block;
}
.main_gongji{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    font-weight: bold;
    color: red;
    background-color: #f2f2f2;
    padding-top: 15px;
}
/* 공지 아이콘 조정 */
#main_status_b{
    text-align: center;
    width:40px;
    border-radius: 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
/* 공지 제목 */
#main_title_b{
    width:325px;
    text-align: center;
}
#main_title_b a{
    color: red;
}
/* 공지 작성자 */
#main_name_b{
    width: 155px;
    text-align: center;
}
#main_name_b a{
}
/* 공지 댓글 */
#main_common_b{
    width: 50px;
    text-align: center;
}
/* 공지 작성일 */
#main_te_b{
    width: 145px;
    text-align: center;
}
#main_heart_b{
    text-align: center;
    width: 25px;
}
/* 어드민 예정이 아닐때 list 위치조정 */
#nonecheked{
    width:40px;
    height: 30px;
}
/* 하단 버튼 전체선택 위취조정 */
.all_ck_left{
    float: left;
    font-size: 14px;
}
/* 하단버튼 위치조정 */
.board_btn_right{
    float: right;
}
/* 하단 검색창 위치조정 및 크기 조정 */
#category_board_search{
    margin: 50px auto;
    width: 880px;
    height: 100px;
    float: right;
    text-align: center;
    background-color: gainsboro;
}
#footer_search_form{
    margin: 40px auto auto auto;
}
.title_right_color{
    color:rgb(243, 134, 10);
}
#category_modify2,#header_select_delete_btn{
    width:50px;
    height: 20px;
    line-height: 10px;
}
.option_right select{
    font-size: 12px;
    width: 75px;
    float: right;
}
.board_btn_right button{
    font-size: 7px;
    line-height: 10px;
}
.right_right{
    text-align: right;
}
#new_board{
    color:coral;
}
#gost_ck{
    visibility: hidden;
    text-align: center;
    width: 90px;
}
.board_list_btn{
    font-size: 8px;
}
/* 답글 숨기기 */
.reply_link{
    font-size: 7px;
    color: #fc5d5d;
}
#footer_search_gogo{
    outline-color: white;
}

.btn-16:hover {
    color: #000;
}
.custom-btn {
    font-size: 10px;
    width: 45px;
    height: 20px;
    color: black;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

#board_list_date_box{
    float: right;
    margin-right: 50px;
}
#board_list_pagination span a{
    margin: auto 5px;
}
#parent_del{
    color: #fc5d5d;
}
.option_222{
    margin:30px;
}
#board_select_number{
    text-align: center;
    width: 50px;
    border-radius: 10px;
}