body{
    width:1440px;
    margin: 0 auto;
    
}

hr{
    clear: both;
}
#member_info{
    display: none;
}
/* 회원정보수정 모달창 위치조정 */
#member_modify_confirm_form input{
    margin: auto auto 10px auto;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 250px;
}
#header{
    width:1080px;
    margin: 0 auto;
}
/* 폰트 사이즈 조정 클래스 */
.ft_size{
    font-size: 12px;
}
/* 왼쪽상단 로고 */
#logo{
    float: left;
    width:200px;
}
.member_btn{
    width:500px;
    float: right;
    margin: 25px auto auto auto;
}
/* li 점 제거 및 한줄만들기 */
.subtitlee{
    text-align: right;
    list-style: none;
}
.subtitlee li{
    display: inline-block;
}
.subtitlee li a button{
    width: 75px;
    height:25px;
    line-height: 10px;
}
/* 전체적인 a태그 밑줄 및 색상조절 */
a{
    text-decoration: none;
    color: black;
}
/* 회원가입 로그인 회원정보수정 로그아웃 (부트스트랩) */
.layout_main_member_btn{
    width:90px;
    height: 35px;
    font-size: 5px;
}
/* 헤더검색창 */
#hdsearch{
    margin-top: 5px;
    clear: both;
    width: 1080px;
    float: right;
    
}
#header_search_form{
    float: right;
}
/* 헤더검색창 검색텍스트칸 조절 */
#sh_text{
    margin-right: -6px;
    width: 220px;
    height: 33px;
    outline-color: white;
}
/* 검색창 버튼 */
.sh_btn{
    width:65px;
    height:35px;
    background-color: #F4E3DC;
    color:black;
    border: none;
}
.btn-outline-success{
    width:90px;
}
/* 사이드 */
.member_side_article{
    margin-left: 180px;
    font-size: 12px;
}
#article{
    margin-top: 6px;
    border-top: 2px solid #333;
    text-align: center;
    float:left;
    width:200px;
    height: 100%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.member_btn_cafebtn{
    list-style: none;
    margin-left: -30px;
}
.op1 button{
    background-color: white;
}
.member_btn_cafebtn li{
    display: inline-block;
}
/* 나의활동 프로필사진 위치조정 */
#profile{
    margin:15px auto auto 25px;
    float: left;
}
/* 카페정보 위치조정 */
#profile_info{
    text-align: center;
    margin: 10px auto 15px auto;
    line-height: 25px;
}
/* 나의활동내역 점제거 */
#profile_info li{
    list-style: none;
}
#profile_info li span{
    font-size: 6px;
}
/* 사이드 카페 글쓰기 위치조정 */
#main_write{
    padding-top: 10px;
    border-top: 2px solid #333;
    text-align: center;
    margin: auto auto 10px auto;
    clear: both;
    width: 200px;
    height: 40px;
    font-size: 12px;
    background-color: #5a5a5a;
}
#main_write p{
    color: rgb(255, 255, 255);
}
/* 사이드 카페 글쓰기 호버시 효과 */
#main_write a:hover{
    color:rgb(116, 223, 255);
    transition: 0.75s;
}
/* 전체글보기 위치조정 */
#all_list{
    padding: 15px;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
}
#all_list a:hover{
    color:rgba(243, 130, 24, 0.781);
    text-decoration: underline;
}
/* 카테고리 추가제거 버튼 위치조정 */
.btn-group{
    float: right;
    margin: auto auto 15px auto;
}
.btn-group span{
    padding-top: 11px;
    margin-right: 10px;
}
/* 카테고리 추가제거버튼 커스텀 */
.btn-primary{
    font-weight: bold;
    background-color: gray;
    color: black;
    border:none;
}
.btn-primary:hover{
    background-color: black;
    color: white;
}
/* 카테고리 float효과 제거 */
#category_list{
    clear: both;
    font-size: 10px;
    width:200px;
    margin: 10px auto 7px auto;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
#category_list a:hover{
    color:rgba(243, 130, 24, 0.781);
    text-decoration: underline;
}
/* 리스트 위치 변경 */
#category_move{
    margin: 10px 30px 10px auto;
    text-align: center;
}
#category_list_style_none{
    list-style: none;
    margin: 15px auto 15px auto;
    width: 100px;
}
.btn_cafe_info{
    border:none;
}
.btn_cafe_info:hover{
    font-weight: bold;
}
/* 카테고리 추가 가운데 정렬 */
#addCategoryModal{
    text-align: center;
}
/* 카테고리추가 보더조정 */
#category_name{
    width: 300px;
    margin-bottom: 20px;
}
#category_name{
    text-align: center;
    border: 2px solid black;
    background-color: rgba(202, 202, 202, 0.877);
    color: black;
}
/* 카테고리추가 버튼 */
#submitCategory{
    font-size: 12px;
}
/* 카테고리제거 전체 조정 */
.modal-content {
    background-color: rgba(202, 202, 202, 0.877);
    text-align: center;
}
/* 제거 select칸 */
#delete_list{
    text-align: center;
    margin-bottom: 20px;
    border:none;
    width: 300px;
    height: 35px;
}
/* 모달 제거창 */
#delete_btn{
    font-size: 12px;
}

/* 푸터 */
#footer{
    clear: both;
}
/* 푸터 주소 위치조정 */
#footer_move{
    float: right;
    margin-right: 150px;;
}
#date_board{
    text-align: left;
    padding-left: 25px;
    background-color: #c7c7c77e;
    width:200px;
    font-weight: bold;
}
#date_board ul{
    list-style: none;
    font-size: 12px;
    height: 20px;
}
.board_tttt li{
    width: 150px;
    margin-top:10px;
    margin-left: -30px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
.layout_content{
    width:1580px;
}
.member_delete_box{
    margin-bottom: 20px;
    font-weight: bold;
}
.member_delete{
    font-size: 12px;
}
.member_delete a{
    color: black;
}
.ct_plus{
    background-color: white;
    border: none;
    height: 30px;
    margin-top: 3px;
    font-size: 18px;
}
.ct_plus:hover{
    background-color: #e5e5e5;
    transition: 0.5s;
}
.ct_minus{
    background-color: white;
    margin-top: 3px;
    border: none;
    width:25px;
    font-size: 18px;
}
.ct_minus:hover{
    background-color: #e5e5e5;
    transition: 0.5s;
}
.category_plus_header{
    background-color: blue;
    height: 20px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
#kanzi_banner img{
    float: left;
    width: 200px;
    height: 250px;
}