body{
    width:1440px;
    margin: 0 auto;
    /* background-color: #b36D4C; */
}
hr{
    clear: both;
}
#member_info{
    display: none;
}
/* 회원정보수정 모달창 위치조정 */
#member_modify_confirm_form input{
    margin: auto auto 10px auto;
    border-radius: 10px;
    border: none;
    text-align: center;
    width: 250px;
}
#header{
    width:1080px;
    margin: 0 auto;
}
/* 폰트 사이즈 조정 클래스 */
.ft_size{
    font-size: 12px;
}
/* 왼쪽상단 로고 */
#logo{
    float: left;
    width:200px;
}
.member_btn{
    width:500px;
    float: right;
    margin: 25px auto auto auto;
}
/* li 점 제거 및 한줄만들기 */
.subtitlee{
    text-align: right;
    list-style: none;
}
.subtitlee li{
    display: inline-block;
}
.subtitlee li a button{
    width: 75px;
    height:25px;
    line-height: 10px;
}
/* 전체적인 a태그 밑줄 및 색상조절 */
a{
    text-decoration: none;
    color: black;
}
/* 회원가입 로그인 회원정보수정 로그아웃 (부트스트랩) */
.btn-outline-secondary{
    width:90px;
    height: 35px;
    font-size: 5px;
}
#banner img{
    border-radius: 6px;
}
/* 헤더검색창 */
#hdsearch{
    clear: both;
    float: right;
}
/* 헤더검색창 검색텍스트칸 조절 */
#sh_text{
    margin-right: -6px;
    border-radius: 1px;
    width: 220px;
    height: 33px;
}
/* 검색창 버튼 */
.sh_btn{
    width:65px;
    height:34.5px;
    border: none;
    background-color: rgb(231, 138, 32);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px #dadce0;
}
.btn-outline-success{
    width:90px;
}
/* 사이드 */
.member_side_article{
    margin-left: 180px;
    font-size: 12px;
}
#article{
    text-align: center;
    float:left;
    width:200px;
    height: 100%;
    background-color: #c48466;
    border-radius: 10px;
}
.member_btn_cafebtn{
    list-style: none;
    margin-left: -30px;
}
.op1 button{
    background-color: #c48466;
}
.member_btn_cafebtn li{
    display: inline-block;
}
/* 나의활동 프로필사진 위치조정 */
#profile{
    margin:15px auto auto 25px;
    float: left;
}
/* 카페정보 위치조정 */
#profile_info{
    text-align: center;
    margin: 10px auto 15px auto;
    line-height: 25px;
}
/* 나의활동내역 점제거 */
#profile_info li{
    list-style: none;
}
#profile_info li span{
    font-size: 6px;
}
/* 사이드 카페 글쓰기 위치조정 */
#main_write{
    padding-top: 15px;
    text-align: center;
    margin: auto auto auto auto;
    clear: both;
    width: 200px;
    font-size: 12px;
}
/* 사이드 카페 글쓰기 호버시 효과 */
#main_write a:hover{
    color:white;
    transition: 0.75s;
}
/* 전체글보기 위치조정 */
#all_list{
    text-align: center;
    font-size: 12px;
    margin: 35px auto 15px auto;
}
#all_list a:hover{
    color:rgba(243, 130, 24, 0.781);
    transition: 0.75s;
}
/* 카테고리 추가제거 버튼 위치조정 */
.btn-group{
    margin-bottom: 15px;
    float: right;
}
.btn-group span{
    padding-top: 11px;
    margin-right: 10px;
}
/* 카테고리 추가제거버튼 커스텀 */
.btn-primary{
    font-weight: bold;
    background-color: #c48466;
    border:none;
}
.btn-primary:hover{
    background-color: black;
    color: white;
}
/* 카테고리 float효과 제거 */
#category_list{
    clear: both;
    font-size: 12px;
    border-radius: 10px;
    width:200px;
}
#category_list a:hover{
    color:rgba(243, 130, 24, 0.781);
    transition: 0.75s;
}
/* 리스트 위치 변경 */
#category_move{
    margin: 10px 30px 10px auto;
    text-align: center;
}
#category_list_style_none{
    list-style: none;
    margin: 15px auto 15px auto;
    width: 100px;
}
.btn_cafe_info{
    border:none;
    background-color: white;
}
/* 카테고리 추가 가운데 정렬 */
#addCategoryModal{
    text-align: center;
}
/* 카테고리추가 보더조정 */
#category_name{
    width: 300px;
    margin-bottom: 20px;
}
#category_name{
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(202, 202, 202, 0.877);
    color: black;
}
/* 카테고리추가 버튼 */
#submitCategory{
    font-size: 12px;
}
/* 카테고리제거 전체 조정 */
.modal-content {
    background-color: rgba(202, 202, 202, 0.877);
    text-align: center;
}
/* 제거 select칸 */
#delete_list{
    text-align: center;
    margin-bottom: 20px;
    border:none;
    border-radius: 10px;
    width: 300px;
    height: 35px;
}
/* 모달 제거창 */
#delete_btn{
    font-size: 12px;
}

/* 푸터 */
#footer{
    clear: both;
}
/* 푸터 주소 위치조정 */
#footer_move{
    float: right;
    margin-right: 150px;;
}
#date_board{
    background-color: rgba(212, 106, 7, 0.781);
    width:200px;
    margin-top: 50px;
    font-weight: bold;
}
#date_board ul{
    list-style: none;
    font-size: 12px;
}
.board_tttt li{
    margin-left: -30px;
}
.layout_content{
    width:1580px;
    height: 100%;
}
.member_delete_box{
    margin-bottom: 20px;
    font-weight: bold;
}
.member_delete{
    font-size: 14px;
}
.member_delete a{
    color: white;
}