.title_Benchmark{
    border-bottom: 1px solid gainsboro;
}
.title_Benchmark ul{    
    list-style: none;
}
.title_Benchmark ul li{    
    display: inline-block;
}
/* 메인 콘텐츠 위치조정 */
.board_main{
    font-size: 12px;
    margin: 45px 320px 300px auto;
    width: 860px;
    background-color: white;
}
.main_real_title h6{
    margin: 30px auto auto 20px;
}
.main_board_list{
    padding-top: 10px;
    border-bottom: 1px solid gainsboro;
}
.main_board_list:hover{
    background-color: #d4d4d4;
}
/* 메인 타이틀 위치조정 */
.board_title{
    margin: 15px 15px;
    border-top: 1px solid #999;
}
.board_title h6{
    margin: 30px auto auto 20px;
}
.board_title ul{
    list-style: none;
}
.board_title ul li{
    display: inline-block;
}
#main_title_move_btn{
    color:#999;
    float: right;
}
#main_title_move_btn a{
    margin: 30px 20px auto auto;
}
/* 게시물 리스트 기준 */
#title{
    margin: 30px auto 15px 30px;
    font-weight: bold;
    height: 45px;
}
/* 게시글 밑줄 및 조정 */
.board_list{
    list-style: none;
}
.board_list li{
    display: inline-block;
}
/* 게시물 제목*/
#board_write_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 게시물 작성자 */
#board_write_name{
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
/* 게시물 댓글수 */
/* #board_comment{
    width:65px;
} */
/* 게시글좋아요수 */
/* #board_date{
    width:145px;
}
#board_heart{
    width:170px;
} */
/* 공지 칸 위치조정 */
#main_status_move{
    border-bottom: 1px solid gainsboro;
    color:red;
    font-weight: bold;
    padding-top: 15px;
    background-color: #f9f9f8;
}
/* 공지칸 리스트 점제거 */
#main_status_move ul{
    list-style: none;
}
/* 공지칸 한줄 만들기 */
#main_status_move ul li{
    display: inline-block;
}
/* 공지 아이콘 조정 */
#main_status{
    width:40px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
}
/* 공지 제목 */
#main_title{
    text-align: center;
    width:335px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
#main_title a{
    color:red;
}
/* 공지 작성자 */
#main_name{
    width:80px;
    text-align: center;
}
#main_name a{
    color:red;
}
/* 공지 댓글 */
#main_common{
    text-align: center;
    width:125px;
}
/* 공지 작성일 */
#main_day{
    padding-left: 10px;
    width: 100px;
}
/* 공지 좋아요 */
#main_heart{
    width: 88px;
}
.main_view_pagination{
    text-align: center;
    margin: 15px auto auto auto;
}
#footer_option{
    float: right;
    margin: 7px 320px auto auto;
}
#footer_btn ul{
    list-style: none;
}
#footer_btn ul li{
    display: inline-block;
}
.board_btn_right{
    margin-left: 350px;
}
.board_btn_right a button{
    font-size: 7px;
}
/* 하단 검색창 */
#main_board_search{
    margin:50px 320px 50px auto;
    width: 880px;
    height: 100px;
    font-size: 12px;
    float: right;
    text-align: center;
    background-color: gainsboro;
}
#main_footer_search_form{
    margin: 40px auto auto auto;
}
.title_right_color{
    color:rgb(243, 134, 10);
}
#main_pagination{
    font-size: 12px;
}
#main_pagination a{
    margin: 5px;
}
#main_footer_go{
    outline-color: white;
}

.btn-16:hover {
    color: #000;
}
.custom-btn {
    font-size: 10px;
    width: 45px;
    height: 20px;
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
#main_date_box{
    float: right;
    margin-right: 50px;
}